.target/
target/
project/boot/
project/target
logs/
.classpath
.project
.scala_dependencies
.ensime
.cache
.metadata/
.settings/
*.sublime-project
*.sublime-workspace
bin/
design/
.ensime*
node_modules
dist
.tmp
.sass-cache
app/bower_components