*~
*.class
*.log

# sbt specific
dist/*
target/
.target/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
*.sublime-project
*.sublime-workspace
*.ensime
*.ensime*
*.classpath
*.project
project/target
logs/
.classpath
.project
.scala_dependencies
.ensime
.cache
.metadata/
.settings/
*.sublime-project
*.sublime-workspace
bin/
design/
.ensime*
