<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
	  <form class="form-horizontal well">
		<fieldset>
		  <legend><img ng-src="img/twitter.png"></img>  Twitter Source Configuration</legend>	
		  <div class="control-group">
		  	<label class="control-label" for="consumerKey">Consumer Key</label>
		  	<div class="controls">
			  <input type="text" class="twitter-input" id="consumerKey">
		  	</div>	
		  </div>	

		  <div class="control-group">
		  	<label class="control-label" for="consumerSecret">Consumer Secret</label>
		  	<div class="controls">
			  <input type="text" class="twitter-input" id="consumerSecret">
		  	</div>	
		  </div>	

		  <div class="control-group">
		  	<label class="control-label" for="Access Token">Access Token</label>
		  	<div class="controls">
			  <input type="text" class="twitter-input" id="accessToken">
		  	</div>	
		  </div>		

		  <div class="control-group">
		  	<label class="control-label" for="accessTokenSecret">Access Token Secret</label>
		  	<div class="controls">
			  <input type="text" class="twitter-input" id="accessTokenSecret">
		  	</div>	
		  </div>	

		  <div class="control-group">
			<label class="control-label" for="geotaggedCheckbox">GeoTagged</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" id="geotaggedCheckbox" checked="true">Filter GeoTagged Tweets
				</label>	
			</div>	
		  </div>	

		  <div class="control-group">
		  	<label class="control-label" for="seachCriteria">Search Criteria</label>
		  	<div class="controls">
			  <input type="text" class="twitter-input" id="searchCriteria">
		  	</div>	
		  </div>	

		  <div>
		  	<button type="submit" class="btn btn-primary twitter-save">Save</button>		  	
		  </div>

		  
		</fieldset>
	  </form>	
    </div> 
  </div>	

</div>
